<div class="row">
    <div class="col-sm-4">
      <nav class="navbar navbar-expand-lg grey-contact">
        <div class="container">
          <button class="button-image" (click)="contact()"></button>
          <button class="btn"><i class="bi bi-chat-left text-white"  style="font-size: 1.5rem;"></i></button>
          <button class="btn"><i class="bi bi-plus-circle text-white"  style="font-size: 1.5rem;"></i></button>
          <button class="btn"><i class="bi bi-three-dots-vertical text-white" style="font-size: 1.5rem;"></i></button>
        </div>
      </nav>
  
      <nav class="navbar bg-dark">
        <div class="container-fluid">
          <form class="d-flex w-100" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn"><i class="bi bi-search text-white"></i></button>
          </form>
        </div>
      </nav>
  
  
      <div  type="button" *ngFor="let chat of Chat" [routerLink]="['/chats']">
        <div class="card text-bg-dark">
          <div class="card-body">
            <div class="row">
              <img   (click)="contact()" src={{chat.image}} style="width: 80px; height: 50px;">
              <h5 class="card-title">{{chat.users}}</h5>
            </div>
            <p class="card-text ml-5">{{chat.text}}</p>
          </div>
        </div>
  
      </div>
  
    </div>
  
    
    
  
    <div class="col-8 d-flex justify-content-center">
    
    </div>
  
  </div>
